<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-4.0.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd ">
	
	<context:component-scan
		base-package="com.project.boardproject" />


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- DB -->
	<!-- -->
	<!--dataSource 객체 설정 -->

 	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.mariadb.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mariadb://nt71li6axbkq1q6a.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/xb1r10me3708gb2n"></property>
		<property name="username" value="f0l638e2sjs79qvy"></property>
		<property name="password" value="jnzddq39trcdbzt2"></property>
	</bean>
	
	<!-- 트랜잭션 매니저 객체 설정 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- @Transactional 애노테이션을 scan하기 위한 설정 -->
	<tx:annotation-driven/>

	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="/WEB-INF/mybatis-config.xml"></property>
		<property name="mapperLocations"
			value="/resources/sql/**/*.xml"></property>
	</bean>

	<bean id="sqlSession"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory"
			ref="sqlSessionFactory"></constructor-arg>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"
			value="com.project.boardproject.**.service.impl.**" />
		<!-- <property name="annotationClass" value="com.project.boardproject.cm.service.impl.CmDAO" 
			/> -->
		<!-- <property name="sqlSessionFactoryBeanName" value="sqlSession" /> -->
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames" value="WEB-INF/message/message" />
        <property name="defaultEncoding" value="UTF-8" />
        <property name="cacheSeconds" value="180" />
	</bean>

	<!-- 인터셉터 객체 생성 -->	
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*.do"/>
            <mvc:exclude-mapping path=""/>
            <bean class="com.project.boardproject.common.LoggerInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    
	<!-- Annotation 활성화 -->	
	<mvc:annotation-driven></mvc:annotation-driven> 
</beans>